splunktaucclib>=4.1.0
# 
#   The following list *may* also be required for your modular inputs to work.   
#   Uncomment those that are required.   
# 
#pybase64
#email
#hashlib
#io
#itertools
#json
#re
#splunk.entity
#urllib
#io
#zipfile
